body{
  background-color:#EEEEEE;
  box-sizing: border-box;
}

.container h1 {
  text-align: center;
  margin-bottom: 10px;
}

.form-control:focus{
  outline: none;
  border-color: #ced4da !important;
  box-shadow: none;
}
